*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: cursive;
}
body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(240, 239, 239, 0.834);
}
.frame{
    height: 600px;
    width: 460px;
    background-color: white;
    padding: 10px;
    box-shadow: 5px 5px 15px rgb(174, 254, 254),-5px -5px 15px rgb(226, 251, 251);
}
.heading{
    text-align: center;
    font-size: 20px;
}
#display{
    margin-top: 10px;
    height: 100px;
    width: 100%;
    padding: 10px;
    border: none;
    outline: none;
    box-shadow: inset 2px 2px 10px #b4edf4, inset -5px -5px 10px #ffffff;
    font-size: 30px;
    text-align: right;
}
.button_group{
    display: flex;
    justify-content: space-around ;
}
.button{
    height: 85px;
    width: 85px;
    border: none;
    box-shadow: 5px 5px 10px #b6acac, -5px -5px 10px #fafaf4;
    border-radius: 10px;
}
.button:active{
    box-shadow: inset 1px 1px 3px #babeec, inset -1px -1px 2px #ffffff ;
}
.button:hover{
background-color: red;
color: white;
cursor: pointer;
}
.butt{
    height: 85px;
    width: 85px;
    border: none;
    box-shadow: 5px 5px 10px #b6acac, -5px -5px 10px #fafaf4;
    border-radius: 10px;
    background-color: red;
    color: white;
}
.butt:active{
    box-shadow: inset 1px 1px 3px #babeec, inset -1px -1px 2px #ffffff ;
}
#uni{
    background-color: rgba(45, 140, 125, 0.919);
    color: white;
}